<div class="bg-white">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>メトリクス名</th>
      <th>最終更新</th>
      <th>データ更新間隔</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="query in queries">
        <td><a href="queries/{{query.id}}">{{query.name}}</a></td>
        <td>{{query.retrieved_at | dateTime}}</td>
        <td>{{query.schedule | scheduleHumanize}}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <ul class="pagination">
      <li ng-repeat="p in pages" ng-class="{active: p.active, disabled: p.disabled}"><a ng-click="selectPage(p.page)">{{p.title}}</a></li>
    </ul>
  </div>
</div>
