{% extends "signed_out_layout.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
{% if submitted %}
<h2>パスワード初期化</h2>
<hr>
<p class="lead">
    ご入力いただいたメールアドレス宛にパスワード再設定のご案内を送付しました。
</p>
{% else %}
<h2 style="color: white;">パスワード初期化</h2>
<hr>
<form role="form" method="post" class="from-forgot-password">
    <div class="form-group ">
        <label for="email">登録しているメールアドレスを入力してください</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <button type="submit" class="btn btn-primary">パスワード初期化メールを送信する</button>
</form>
{% endif %}
{% endblock %}
